services:
    openldap:
        image: osixia/openldap
        container_name: openldap
        environment:
            LDAP_ORGANISATION: "IES Los Alcores"
            LDAP_DOMAIN: "escuela.edu"
            LDAP_ADMIN_PASSWORD: "admin123"
        ports: 
            - "389:389"
        volumes:
            - ./ldap-data:/var/lib/ldap
            - ./ldap-config:/etc/ldap/sldap.d
            - ./ldif:/ldif
        restart: unless-stopped

    phpldapadmin:
        image: osixia/phpldapadmin
        container_name: phpldapadmin
        environment:
            PHPLDAPADMIN_LDAP_HOSTS: "openldap"
        ports:
            - "8080:80"
        depends_on:
            - openldap
        restart: unless-stopped