spring:
  application:
    name: railway

  datasource:
    url: jdbc:mysql://localhost:3308/railway?createDatabaseIfNotExists=true
    username: admin
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect